@tailwind base;
@tailwind components;
@tailwind utilities;

.first-page p {
    width: 25%;
    margin: 0 auto;
}

.contact-page p {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.job h1,
.job h2,
.job h3,
.job h4,
.job h5,
.job h6,
.job em {
    color: white;
}
